.header {
  height: 25vh;
  text-align: center;
  background-image: url("../../assets/images/pattern-bg.png");
  position: relative;
  &__container {
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    &-search {
      top: 150px;
      display: flex;
      height: 35px;
      .search__button {
        background-color: black;
        color: white;
        width: 35px;
        border-radius: 0 10px 10px 0;
        background-image: url("../../assets/images/icon-arrow.svg");
        background-repeat: no-repeat;
        background-position: center;
      }

      .search__text {
        width: 95%;
        border-radius: 10px 0 0 10px;
        border: 1px solid;
        font-size: 18px;
      }
    }
    &-error {
      color: white;
    }
  }
  &__title {
    top: 500px;
    color: white;
  }
  &__info {
    height: 120px;
    width: 85%;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    margin: 0 auto;
    z-index: 1000;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-auto-flow: column;
    .content {
      .content__title {
        font-size: small;
        color: hsl(0, 0%, 59%);
      }
      .content__info {
        font-size: x-large;
        color: hsl(0, 0%, 17%);
      }
    }
    .content1 {
      grid-column: 1;
    }
    .content2 {
      grid-column: 2;
    }
    .content3 {
      grid-column: 3;
    }
    .content4 {
      grid-column: 4;
    }
  }
}

@media (max-width: 750px) {
  .header {
    height: 30vh;
    &__info {
      grid-template-columns: repeat(1fr, 2);
      grid-template-rows: repeat(1fr, 2);
      grid-auto-flow: column;
      grid-auto-flow: row;
      height: 200px;
      top: 160px;
      .content1 {
        grid-column: 1;
        grid-row: 1;
      }
      .content2 {
        grid-column: 2;
        grid-row: 1;
      }
      .content3 {
        grid-column: 1;
        grid-row: 2;
      }
      .content4 {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 40vh;
    &__container {
      width: 60%;
    }
    &__info {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr, 4);
      grid-auto-flow: row;
      height: 450px;
      width: 60%;
      top: 170px;
      .content1 {
        grid-column: 1;
        grid-row: 1;
      }
      .content2 {
        grid-column: 1;
        grid-row: 2;
      }
      .content3 {
        grid-column: 1;
        grid-row: 3;
      }
      .content4 {
        grid-column: 1;
        grid-row: 4;
      }
    }
  }
}

@media (max-width: 400px) {
  .header__container-search {
    width: 100%;
  }
  .header__info {
    width: 80%;
  }
}
